body {
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF;
}

.main_title {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
}

.main_title h1 {
    font-size: 56px;
    font-weight: 700;
    color: #75B79E;
}

.timer {
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right:0px;
    top:0px;
    width: 90px;
    height: 50px;
    background-color: rgba(0,0,0,0.25);
    color:white;
    font-size: 40px;
    border-radius: 20px 0px 0px 20px;
}

main {
    margin-top: 47px;
}

.card_holder {
    margin: 0 auto;
    display: flex;
    /* background-color: blue; */
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 117px;
    height: 146px;
    background-color: #a7e9af;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    float: left;
    margin: 0 17px;
    margin-bottom: 34px;
    transition: all 1000ms;
}

.card_transition {
    transform: rotateY(180deg);
}

.card img {
    width: 100px;
    height: 100px;
}